/***************GENERAL***************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #000;
  color: #fff;
  font-family: Verdana, sans-serif;
  text-align: center;
}

a {
  color: aquamarine;
  display: block;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}

h2 {
  font-size: 4.2rem;
  font-weight: 300;
  margin-bottom: 3.5rem;
}

p,
small {
  color: gray;
  font-size: 2.1rem;
}

/***************HEADER***************/

header {
  padding-top: 3.4rem;
}

h1 {
  font-size: 5rem;
  font-weight: normal;
  margin-bottom: 3.8rem;
}

video {
  margin-bottom: 3.6rem;
}

/***************ABOUT***************/

.about {
  margin-bottom: 2.3rem;
}

p {
  margin-bottom: 2.1rem;
}

/***************COMING SOONG***************/

.coming-soon img {
  margin-bottom: 3.7rem;
}

.coming-soon h2 {
  margin-bottom: 3.9rem;
}

/***************FOOTER***************/

footer {
  height: 4.6rem;
  padding-right: 0.8rem;
  text-align: right;
}
